/* Universal Selector */
* {
    margin:0;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
/*HEADER CSS*/
header {
    display: flex;
    width: 100%;
    background-color: #831005;
    justify-content: space-between;
    align-items: center;
}
header li {
  display: inline-block;
}
header a {
    text-decoration:underline;
    color: #CBC3BE;
    padding: 10px 20px 0 0;
    font-size: 20px;
    font-weight: bold;
}
header h1 {
  flex-wrap: wrap;
  background-color: #CBC3BE;
  font-size: 60px;
  margin: 10px 0;
  padding: 0px 20px 0 50px;
  color: #831005;
}
/*HERO IMAGE AND TEXT CSS*/
.hero-image {
  background-image: url("./assets/Oum8QYNImgur.png");
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: end;
  position: relative;
  top: 60%;
  color: rgb(255, 255, 255);
  background-color: #831005;
}
h2 {
  background-color: #831005;
  color: white;
}
/*MAIN CSS*/
.contact-me h1, .about-me h1 {
  display: inline-flex;
  text-align: end;
  text-indent: 30%;
  padding-right: 1%;
  border-right: 1rem solid #831005;
}
.work-examples h1 {
  display: inline-flex;
  text-indent: 3em;
  text-align: match-parent;
  padding-right: 1%;
  border-right: 1rem solid #831005;
}
.about-me p {
    display: inline;
}
.contact-me ul {
  display: flex;
  gap: 1rem;
  display: inline-flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
/*IMAGES IN WORK SECTION*/
.work-examples a {
  max-width: 900px;
  display:inline-block;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.image-1 {
  width: 800px;
  height: 400px;
  padding: 1%;
  margin-left: 20%;
  display: inline;

}
.image-2 {
  width: 450px;
  height: 130px;
}