/* Universal Selector */
* {
    margin:0;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
/*HEADER CSS*/
header {
    display: flex;
    width: 100%;
    background-color: #831005;
    justify-content: space-between;
    align-items: center;
}
header li {
  display: inline-block;
}
header a {
    text-decoration:underline;
    color: #fff;
    padding: 10px 20px 0 0;
    font-size: 20px;
    font-weight: bold;
}
header h1 {
  flex-wrap: wrap;
  background-color: #fff;
  font-size: 60px;
  margin: 10px 0;
  padding: 0px 20px 0 50px;
  color: #831005;
}
/*HERO IMAGE AND TEXT CSS*/
.hero-image {
  background-image: url("./assets/Oum8QYNImgur.png");
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: end;
  position: relative;
  top: 60%;
  color: rgb(255, 255, 255);
  background-color: #831005;
}
h2 {
  background-color: #831005;
  color: white;
  width: 10%;
  padding: 10px;
  text-align: center;
  font-size: 2vw;
  position: relative;
  left: 50%;
  top: 20%;
}
/*MAIN CSS*/
  .about-me h1, .contact-me h1, .work-examples h1 {
  flex: 0 0 20%;
  font-size:3vw;
  text-align: right;
  text-indent: 30%;
  padding-right: 1%;
  border-right: 1rem solid #831005;
  color: #831005;
}
.about-me, .contact-me, .work-examples {
  display: flex;
  flex-wrap: wrap;
}
.about-me p {
    flex: 0 0 70%;
    padding-left: 1%;
    padding-top: 1%;
    font-size: large;
    color: #831005;
}
.contact-me ul {
  display: flex;
  flex: 70%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: x-large;
}
.contact-me a {
  color: #831005;
  text-decoration: underline #000;
}
/*IMAGES IN WORK SECTION*/
.image-1 {
  width: 800px;
  height: 400px;
  flex: 0 0 50%;
  margin-left: 1%;
  border: 5px solid #831005;
}
.image-2 {
  width: 400px;
  height: 130px;
  flex: 0 0 20%;
  margin: 20px 10% 0 23%;
  border: 5px solid #831005;
}
/* MEDIA CONTROLS */
/*HEADER*/
@media (max-width: 500px) {
  header {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  header h1 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 30px;
    padding: 0;
  }
  header ul {
    align-items: center;
  }
/*HERO IMAGE AND TEXT*/
  .hero-image {
    width: 100%;
    height: 150px;
  }
  h2 {
    left: 38%;
    top: 15%;
    width: 22%;
    font-size: large;
  }
/*BODY*/
  main {
    margin: 5%;
  }
  .about-me h1, .contact-me h1, .work-examples h1 {
    width: 100%;
    font-size:6vw;
    text-align: left;
    border: none;
    flex: none;
    text-indent: 0;
    padding: 0%;
    border-bottom: 5px solid #831005;
    padding-bottom: 8px;
  }
  .about-me, .contact-me, .work-examples {
  }
  .about-me p {
    text-align: justify;
    flex: 1 1 0;
    padding: 0;
    padding: 5% 0% 15% 0;
  }
  .contact-me ul {
    list-style: none;
    width: 100%;
    flex: none;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    font-size: medium;
    padding: 5% 0% 10% 0;
  }
  .image-1, .image-2 {
    width: 99%;
    height: 10%;
    margin: 0%;
    padding: 0;
    border: 5px solid #831005;
    margin-bottom: 5%;
  }
  .image-1 {
    margin-top: 8%;
  }
}